.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--color-elements);
  cursor: pointer;
  background-color: transparent;
  width: 48px;

  @include header-height;
  @include hover(background-color, var(--color-icons));
  @include on-lg {
    width: 64px;
  }

  &:hover .mainButton {
    color: var(--color-secondary);
  }
}

.mainButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-icons);
  height: 100%;
  width: 100%;
  padding: 0;
}

.dropdownMenu {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  background-color: var(--color-surface-2);
  border: 1px solid var(--color-elements);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: max-content;
  max-width: 100px;
  margin: 0 auto;

  @include on-lg {
    flex-direction: row;
    justify-content: space-between;
    max-width: 270px;
    margin: 0;
  }
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
  text-align: left;
  white-space: nowrap;

  @include hover(background-color, var(--color-surface-1));

  > * {
    font-size: 24px;
    flex-shrink: 0;
  }
}

.text {
  font-size: 12px;

  @include on-md {
    display: inline;
  }
}

.icon {
  color: var(--color-white);
  font-size: 24px;
  flex-shrink: 0;
}

.active {
  background-color: var(--color-accent);
  color: var(--color-white);

  @include hover(background-color, var(--color-accent));
}
