@use './variables';

@mixin on-sm {
  @media (min-width: variables.$breakpoint-sm) {
    @content;
  }
}

@mixin on-md {
  @media (min-width: variables.$breakpoint-md) {
    @content;
  }
}

@mixin on-lg {
  @media (min-width: variables.$breakpoint-lg) {
    @content;
  }
}

@mixin on-xl {
  @media (min-width: variables.$breakpoint-xl) {
    @content;
  }
}

@mixin on-sm-only {
  @media (min-width: variables.$breakpoint-sm) and (max-width: (variables.$breakpoint-md - 1px)) {
    @content;
  }
}

@mixin on-md-only {
  @media (min-width: variables.$breakpoint-md) and (max-width: (variables.$breakpoint-lg - 1px)) {
    @content;
  }
}

@mixin on-lg-only {
  @media (min-width: variables.$breakpoint-lg) and (max-width: (variables.$breakpoint-xl - 1px)) {
    @content;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-md {
    --columns: 12;
  }

  @include on-xl {
    --columns: 24;
  }
}

@mixin content-container {
  max-width: variables.$max-container-width;
  width: 100%;

  margin-inline: auto;
  padding-inline: variables.$content-container-inline;

  @include on-sm {
    padding-inline: variables.$content-container-inline-sm;
  }

  @include on-xl {
    padding-inline: variables.$content-container-inline-xl;
  }
}

@mixin hover(
  $property,
  $toValue,
  $transition-duration: variables.$transition-duration
) {
  transition: #{$property} $transition-duration;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin header-height {
  height: 48px;

  @include on-lg {
    height: 64px;
  }
}
