// Various
$default-font-size: 16px;
$max-container-width: 1136px;
// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 744px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
// Transitions
$icon-hover-scale: 1.2;
$image-hover-scale: 1.1;
$transition-duration: 0.15s;
// Content Container
$content-container-inline: 16px;
$content-container-inline-sm: 24px;
$content-container-inline-xl: 0px;
// Dark Mode Colors
$dark-secondary: #75767f;
$dark-icons: #4a4d58;
$dark-elements: #3b3e4a;
$dark-surface-2: #323542;
$dark-surface-1: #161827;
$dark-black: #0f1121;
$dark-white: #f1f2f9;
$dark-green: #27ae60;
$dark-red: #eb5757;
$dark-accent: #905bff;
$dark-accent-hover: #a378ff;
$dark-skeleton-bg-start: #1c1e2d;
$dark-skeleton-bg-highlight: #2a2d3d;
$dark-skeleton-bg-end: #1c1e2d;

// Light Mode Colors
$light-secondary: #89939a;
$light-icons: #b4bdc3;
$light-elements: #e2e6e9;
$light-surface-2: #fafbfc;
$light-surface-1: #ffffff;
$light-black: #ffffff;
$light-white: #313237;
$light-green: #27ae60;
$light-red: #eb5757;
$light-accent: #8f5cff;
$light-accent-hover: #9f72ff;
$light-skeleton-bg-start: #e0e0e0;
$light-skeleton-bg-highlight: #fff;
$light-skeleton-bg-end: #dadada;
