.primaryButton {
  display: block;
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 0;
  border: 0;
  cursor: pointer;
  flex-grow: 1;

  @include hover(background-color, var(--color-accent-hover));

  &:disabled {
    background-color: var(--color-surface-1);
    color: var(--color-surface-2);
    cursor: default;
  }

  [data-theme='light'] & {
    background-color: var(--color-white);
    color: var(--color-black);

    @include hover(background-color, var(--color-accent));
  }
}

.isSelected {
  background-color: var(--color-surface-2);
  color: var(--color-white);

  [data-theme='light'] & {
    background-color: var(--color-accent);
    color: var(--color-black);
    border: 0;
  }
}
