.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(229px, 272px));
  gap: 40px 16px; // row-gap 40px, column-gap 16px
  justify-content: center; // щоб картки вирівнювались зліва

  .listItem {
    width: 100%;
  }
}
