.ToastViewport {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 360px;
  z-index: 9999;
}

.ToastRoot {
  background-color: var(--color-surface-2);
  color: var(--color-white);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color-secondary);
  position: relative;

  &.info {
    border-color: var(--color-accent);
  }

  &.error {
    color: var(--color-red);
    border-color: var(--color-red);
  }

  &[data-state='open'] {
    animation: slideIn 150ms ease-out;
  }

  &[data-state='closed'] {
    animation: hide 100ms ease-in;
  }

  &[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
  }

  &[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
  }

  &[data-swipe='end'] {
    animation: swipeOut 100ms ease-out;
  }
}

.ToastHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ToastInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  min-width: 0;
}

.ToastTitle {
  font-weight: bold;
  margin-bottom: 4px;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ToastDescription {
  color: var(--color-secondary);
}

.CloseButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  color: var(--color-icons);
  cursor: pointer;

  @include hover(color, var(--color-white));
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(100%);
  }
}
