.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: var(--surface-1);
  color: var(--color-white);
  cursor: pointer;
  @include hover(background-color, var(--color-icons));
  @include on-sm {
    display: none;
  }
}
.icon {
  width: 16px;
  height: 16px;
}
