.paginationButton {
  background-color: var(--color-surface-1);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;

  @include hover(background-color, var(--color-icons));
}

.isSelected {
  background-color: var(--color-accent);
}
